.page.about .aboutPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page.about .card-container {
  position: relative;
  height: 70%;
  max-width: 90%;
}

.page.about .about_header {
  height: 20vmin;
  margin-top: 4vh;
}

.page.about .card {
  height: 100%;
  max-width: 100%;
}

.page.about .logo {
  width: 21vw;
  flex: 1;
}

.page.about .text {
  position: absolute;
  top: 10%;
  color: rgb(28, 63, 85);
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  height: 80%;
  justify-content: space-around;
}

.page.about .container-titles :first-child {
  font-size: 6vw;
  font-weight: 800;
}

.page.about .container-titles :last-child {
  font-size: 4vw;
}
